.skills-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
  /* justify-content: center; */
}

.skill-box {
  background: white;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  font-weight: 500;
  color: #282c34;
  font-size: 1rem;
}

.skill-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
